@model Department
@{
    ViewData["Title"] = "Display";
}
<a asp-action="Index" class="btn btn-light mb-3">Back</a>
<h2>Department @Model.Name</h2>
<form method="get">
    <div class="card mb-3" style="width: 50%">
      <div class="card-body">
        @*<div class="mb-3">
            <label asp-for="Id">Id</label>
            <label asp-for="Id">@Model.Id</label>
        </div>*@
        <div class="mb-3">
            <h4 class="card-title">
                <label asp-for="Name">Name: </label>
                <label asp-for="Name">@Model.Name</label>
            </h4>
        </div>
        <div class="mb-3">
            <h6 class="card-subtitle">
            <label asp-for="Location">Location</label>
            <label asp-for="Location">@Model.Location</label>
            </h6>
        </div>
        <div class="mb-3">
            <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-primary">Update</a>
        </div>
      </div>
    </div>
</form>
